<div class="header">
  <div class="header__container">
    <a href="/" class="header__logo"><img src="assets/images/rick.png" alt="logo"></a>
    <nav class="header__menu menu">
      <ul class="menu__list">
        <li class="menu__item">
          <a routerLink="/character" routerLinkActive="active" class="menu__link">character</a>
        </li>
        <li class="menu__item">
          <a routerLink="/location}" routerLinkActive="active" class="menu__link">location</a>
        </li>
        <li class="menu__item">
          <a routerLink="/episode" routerLinkActive="active" class="menu__link">episode</a>
        </li>
      </ul>
    </nav>
  </div>

</div>
